/* Universal Settings */
* {
    font-family: "SF UI Text", "Cousine Nerd Font";
    font-size: 13px;
}

/* notification */
.notification {
    background: #1e1e2e; /* Notification background */
    color: #cdd6f4; /* Text color */
    border-radius: 0px; /* Corner rounding */
    border: 2px solid #94e2d5; /* Border style */
    padding: 10px; /* Inner spacing */
}

.notification-content {
    padding: 0; /* Remove default padding */
}

.notification-default-action:hover {
    background: transparent; /* No highlight on hover */
}

/* notification icon */
.notification-icon {
    min-width: 48px; /* Icon container width */
    min-height: 48px; /* Icon container height */
}

.notification-icon image {
    -gtk-icon-size: 48px; /* Icon render size — change this to resize */
}

/* control center */
.control-center {
    background: #181825;
    border-radius: 10px; /* Corner rounding */
    border: 2px solid #94e2d5; /* Border style */
}
